<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dashboard</title>

  <!-- CSS -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400|Roboto:300,400,500">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/assets/css/animate.css">
  <link rel="stylesheet" href="/assets/css/style.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Favicon and touch icons -->
  <link rel="shortcut icon" href="/assets/ico/favicon.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="/assets/ico/apple-touch-icon-57-precomposed.png">

</head>

<body>

  <!-- Top content -->
  <div class="top-content">

    <!-- Top menu -->
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header" style="color:white;">
          Project Management System
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="top-navbar-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/projects">Projects</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/users">Users</a><li>
            <li><a class="btn btn-link-3" href="/signout">Sign Out</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Javascript -->
    <script src="/assets/js/jquery-1.11.1.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.backstretch.min.js"></script>
    <script src="/assets/js/wow.min.js"></script>
    <script src="/assets/js/retina-1.1.0.min.js"></script>
    <script src="/assets/js/scripts.js"></script>
  </div>

  <div class="container">
    <!-- CONTENT STARTS HERE -->
    <h1 style="text-align:left;">Users</h1>
    <h3 style="text-align:left;">Filters</h3>
    <form method="get" action="/users">
      <input type="hidden" value="1" name="page">
      <table>
        <tr>
          <td width="200" style="align:left;">
            <label for="user_id"><input type="checkbox" name="user_id_checkbox">User ID</label>
          </td>
          <td width="800">
            <input type="text" id="user_id" name="user_id" placeholder="User ID">
          </td>
        </tr>
        <tr>
          <td width="200">
            <label for="full_name"><input type="checkbox" name="full_name_checkbox">Full Name</label>
          </td>
          <td width="800">
            <input type="text" id="full_name" name="full_name" placeholder="Full Name">
          </td>
        </tr>
        <tr>
          <td width="200">
            <label for="position"><input type="checkbox" name="position_checkbox">Position</label>
          </td>
          <td width="800">
            <select name="position" id="position">
              <option value="qa">Software Quality Assurance</option>
              <option value="developer">Software Developer</option>
              <option value="manager">Manager</option>
            </select>
          </td>
        </tr>
        <tr>
          <td width="200">
            <label for="status"><input type="checkbox" name="status_checkbox">Status</label>
          </td>
          <td width="800">
            <select name="status" id="status">
              <option value="fulltime">Full Time</option>
              <option value="parttime">Part TIme</option>
            </select>
          </td>
        </tr>
        <tr>
          <td width="200">
            <button type="submit" class="btn btn-primary">Search</button>
          </td>
        </tr>
      </table>
    </form>
    <table class="table table-striped">
      <thead>
        <tr>
          <th style="width:10%;">User ID</th>
          <th style="width:20%;">Name</th>
          <th style="width:20%;">Position</th>
          <th style="width:20%;">Working Status</th>
          <th style="width:30%;">Action</th>
        </tr>
      </thead>
      <tbody>
        <% for (let i=0;i<usersData.length;i++) { %>
          <tr>
            <td style="text-align:left;"><%= usersData[i].userid %></td>
            <td style="text-align:left;"><%= usersData[i].fullname %></td>
            <td style="text-align:left;"><%= usersData[i].role %></td>
            <td style="text-align:left;"><%= (usersData[i].isfulltime) ? 'Full Time' : 'Part Time' %></td>
            <td style="text-align:left;">
              <a href="/users/edit/<%= usersData[i].userid %>"><button class="btn btn-success">Edit</button></a>
              <a href="/users/delete/<%= usersData[i].userid %>"><button class="btn btn-danger">Delete</button></a>
            </td>
          </tr>
        <% } %>
        <tr>
          <td>
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="<%= (page-1)>0 ? url.replace(`page=${page}`,`page=${page-1}`) : url.replace(`page=${page}`,`page=1`) %>">Previous</a></li>
              <% for (let i=1;i<=totalPage;i++) { %>
                <li class="page-item <%= (page == i) ? ' active' : '' ; %>"><a class="page-link" href="<%= url.replace(`page=${page}`,`page=${i}`); %>"><%= i %></a></li>
              <% } %>
              <li class="page-item <%= (page == totalPage) ? ' disabled' : '' ; %>"><a class="page-link" href="<%= url.replace(`page=${page}`,`page=${parseInt(page)+1}`) ; %>">Next</a></li>
            </ul>
          </td>
        </tr>
        <tr>
          <td><a href="users/add"><button class="btn btn-primary">Add</button></a></td>
        </tr>
      </tbody>
    </table>

  </div>

</body>

</html>
