<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Project Overview</title>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css2/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/stylesheets/simple-sidebar.css" rel="stylesheet">

</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Project Management Tools </div>
      <div class="list-group list-group-flush">
        <a href="/projects/overview/<%= idProject %>" class="list-group-item list-group-item-action bg-light">Overview</a>
        <a href="/projects/activity/<%= idProject %>" class="list-group-item list-group-item-action bg-light">Activity</a>
        <a href="/projects/member/<%= idProject %>" class="list-group-item list-group-item-action bg-light">Members</a>
        <a href="/projects/issue/<%= idProject %>" class="list-group-item list-group-item-action bg-light">Issue</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="/projects">Projects <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profile">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users">Users</a>
            </li>
            <li class="nav-item">
              <a href="/signout"><button class="btn btn-primary">Sign Out</button></a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container-fluid">
        <!-- CONTENTS START HERE -->
        <h1 style="text-align:left;">Edit Issue</h1>
        <form method="post" action="/projects/issue/<%= idProject %>/edit/<%= idIssue %>" enctype="multipart/form-data">
          <table>
            <tr>
              <td width="200" style="align:left;">
                <label for="tracker">Tracker</label>
              </td>
              <td width="800">
                <br><input type="radio" name="tracker" value="bug" <%= (issueObject.tracker == "bug") ? ' checked' : '' %>> Bug<br>
                <input type="radio" name="tracker" value="feature" <%= (issueObject.tracker == "feature") ? ' checked' : '' %>> Feature<br>
                <input type="radio" name="tracker" value="support" <%= (issueObject.tracker == "support") ? ' checked' : '' %>> Support<br><br>
              </td>
            </tr>
            <tr>
              <td width="200">
                <label for="subject">Subject</label>
              </td>
              <td width="800">
                <input type="text" name="subject" placeholder="Subject" value="<%= issueObject.subject %>" required>
              </td>
            </tr>
            <tr>
              <td width="200">
                <label for="description">Description</label>
              </td>
              <td width="800">
                <textarea name="description" cols="50" rows="3" placeholder="Description" required><%= issueObject.description %></textarea>
              </td>
            </tr>
            <tr>
              <td width="200">
                <label for="status">Status</label>
              </td>
              <td width="800">
                <br><input type="radio" name="status" value="new" <%= (issueObject.status == 'new') ? ' checked' : '' %>> New<br>
                <input type="radio" name="status" value="in_progress" <%= (issueObject.status == 'in_progress') ? ' checked' : '' %>> In Progress<br>
                <input type="radio" name="status" value="resolved" <%= (issueObject.status == 'resolved') ? ' checked' : '' %>> Resolved<br>
                <input type="radio" name="status" value="feedback" <%= (issueObject.status == 'feedback') ? ' checked' : '' %>> Feedback<br>
                <input type="radio" name="status" value="closed" <%= (issueObject.status == 'closed') ? ' checked' : '' %>> Closed<br>
                <input type="radio" name="status" value="rejected" <%= (issueObject.status == 'rejected') ? ' checked' : '' %>> Rejected<br><br>
              </td>
            </tr>
            <tr>
              <td width="200">
                <label for="priority">Priority</label>
              </td>
              <td width="800">
                <input type="radio" name="priority" value="normal" <%= (issueObject.priority == 'normal') ? ' checked': '' %>> Normal<br>
                <input type="radio" name="priority" value="high" <%= (issueObject.priority == 'high') ? ' checked': '' %>> High<br>
                <input type="radio" name="priority" value="urgent" <%= (issueObject.priority == 'urgent') ? ' checked': '' %>> Urgent<br>
                <input type="radio" name="priority" value="immediate" <%= (issueObject.priority == 'immediate') ? ' checked': '' %>> Immediate<br><br>
              </td>
            </tr>
            <tr>
              <td width="200">
                <label for="assignee">Assignee</label>
              </td>
              <td width="800">
                <select id="assignee" name="assignee">
                  <% for (let i=0;i<usersData.length;i++) { %>
                    <option value="<%= usersData[i].userid %>" <%= (usersData[i].userid == issueObject.assignee) ? ' checked' : '' %>><%= usersData[i].fullname %></option>
                  <% } %>
                </select>
              </td>
            </tr>
            <tr>
              <td width="200">
                <label for="start_date">Start Date</label>
              </td>
              <td width="800">
                <input type="date" name="start_date" value="<%= issueObject.startdate %>">
              </td>
            </tr>
            <tr>
              <td width="200">
                <label for="due_date">Due Date</label>
              </td>
              <td width="800">
                <input type="date" name="due_date" value="<%= issueObject.duedate %>">
              </td>
            </tr>
            <tr>
              <td width="200">
                <label for="estimated_time">Estimated Time</label>
              </td>
              <td width="800">
                <input type="number" name="estimated_time" value="<%= issueObject.estimatedtime %>" placeholder="Estimated Time" step="0.01">
              </td>
            </tr>
            <tr>
              <td width="200">
                <label for="done">% Done</label>
              </td>
              <td width="800">
                <select id="done" name="done">
                  <option value="0" <%= (parseInt(issueObject.done) == 0) ? ' selected' : '' %>>0</option>
                  <option value="20" <%= (parseInt(issueObject.done) == 20) ? ' selected' : '' %>>20</option>
                  <option value="40" <%= (parseInt(issueObject.done) == 40) ? ' selected' : '' %>>40</option>
                  <option value="60" <%= (parseInt(issueObject.done) == 60) ? ' selected' : '' %>>60</option>
                  <option value="80" <%= (parseInt(issueObject.done) == 80) ? ' selected' : '' %>>80</option>
                  <option value="100" <%= (parseInt(issueObject.done) == 100) ? ' selected' : '' %>>100</option>
                </select>
              </td>
            </tr>
            <tr>
              <td width="200">
                <label for="files">Files</label>
              </td>
              <td width="800">
                <input type="file" name="files">
              </td>
            </tr>
            <tr>
              <td width="200">
                <label for="spent_time">Spent Time</label>
              </td>
              <td width="800">
                <input type="number" name="spent_time" value="<%= issueObject.spenttime %>" placeholder="Spent Time" step="0.01">
              </td>
            </tr>
            <tr>
              <td width="200">
                <label for="target_version">Target Version</label>
              </td>
              <td width="800">
                <input type="text" name="target_version" value="<%= issueObject.targetversion %>" placeholder="Target Version" step="0.01">
              </td>
            </tr>
            <tr>
              <td width="200">
                <label for="author">Author</label>
              </td>
              <td width="800">
                <select id="author" name="author">
                  <% for (let i=0;i<usersData.length;i++) { %>
                    <option value="<%= usersData[i].userid %>" <%= (usersData[i].userid == issueObject.author) ? ' checked' : '' %>><%= usersData[i].fullname %></option>
                  <% } %>
                </select>
              </td>
            </tr>
            <tr>
              <td width="200">
                <label for="parent_task">Parent Task</label>
              </td>
              <td width="800">
                <select id="parent_task" name="parent_task">
                  <option value="" selected>-----Parent Task-----</option>
                  <% for (let i=0;i<issuesData.length;i++) { %>
                    <option value="<%= issuesData[i].issueid %>" <%= (issuesData[i].issueid == issueObject.issueid) ? ' disabled' : '' %>><%= issuesData[i].subject %></option>
                  <% } %>
                </select>
              </td>
            </tr>
            <tr>
              <td width="200">
                <button type="submit" class="btn btn-primary">Save</button>
              </td>
            </tr>
          </table>
        </form>

      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js2/bootstrap.bundle.min.js"></script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

</body>

</html>
