<!DOCTYPE HTML>
<HTML>
  <HEAD>
    <TITLE>BREAD CHALLENGE</TITLE>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </HEAD>
  <BODY>
    <div class="container">
      <H1>BREAD (Browse, Read, Edit, Add, Delete)</H1>
      <H2>Filters</H2>
      <FORM method="get" action="" cellpadding="100">
        <table style="width:100%;" border="0">
          <tr>
            <div class = "form-group">
              <td style="width:40%">ID</td>
              <td style="width:60%"><input type="text" class="form-control" placeholder="ID"></td>
            </div>
          </tr>
          <tr>
            <div class = "form-group">
              <td>String</td>
              <td><input type="text" class="form-control" placeholder="String"></td>
            </div>
          </tr>
          <tr>
            <div class = "form-group">
              <td>Integer</td>
              <td><input type="text" class="form-control" placeholder="Integer"></td>
            </div>
          </tr>
          <tr>
            <div class="form-group">
              <td>Float</td>
              <td><input type="text" class="form-control" placeholder="Float"></td>
            </div>
          </tr>
          <tr>
            <div class="form-group">
              <td>Date</td>
              <td>
                <input type="date" class="form-control" placeholder="Start Date"><br>
                to<br>
                <input type="date" class="form-control" placeholder="End Date">
              </td>
            </div>
          </tr>
          <tr>
            <div class="form-group">
              <td>Boolean</td>
              <td>
                <select class="form-control">
                  <option value="" disabled selected>Choose the boolean ....</option>
                  <option value="True">True</option>
                  <option value="False">False</option>
                </select>
              </td>
            </div>
          </tr>
          <tr>
            <td><button type="submit" value="Search" class="btn btn-primary">Search</button></td>
            <td></td>
          </tr>
        </table>
      </FORM>
      <br>
      <table  class="table table-striped">
        <thead>
          <tr>
            <th style="width:10%;">ID</th>
            <th style="width:15%;">String</th>
            <th style="width:15%;">Integer</th>
            <th style="width:15%;">Float</th>
            <th style="width:15%;">Date</th>
            <th style="width:10%;">Boolean</th>
            <th style="width:15%;">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% for (let i=0;i<data.length;i++) { %>
            <tr>
              <td><%= data[i].id %></td>
              <td><%= data[i].String %></td>
              <td><%= data[i].Integer %></td>
              <td><%= data[i].Float %></td>
              <td><%= data[i].Date %></td>
              <td><%= data[i].Boolean %></td>
              <td>
                <a href="edit/<%= data[i].id %>"><button class="btn btn-success">Edit</button></a>
                <a href="delete/<%= data[i].id %>"><button class="btn btn-danger">Delete</button></a>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
        <a href="add"><button class="btn btn-primary">Add</button></a>
      </div>
      <BODY>
      </HTML>
